[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"

[dev-packages]
django-browser-reload = "*"

[requires]
python_version = "3.11" # 3.12 for dev cont
